<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('layouts/header') %>
    <title>Dashboard</title>
</head>
<body>
    <nav class="navbar bg-light d-flex p-2">
        <div class="login-form">
            <a class="navbar-brand" href="/">Home</a>
        </div>
        <div class="justify-content-end right-nav">
            <a href="/users/logout"><button class="btn btn-warning">Log out</button></a>
        </div>
    </nav>
    <h1 class="text-center align-middle mt-5 page-title">Dashboard</h1>
</body>
</html>